extends layout

block content
  script(async defer src="/javascripts/script.js")
  h1= "Recipe service"
  div(id="displaydiv")


block sendIncredients
  script(async defer src="/javascripts/sendIngredientsJs.js")
  h1="Send recipe"
  input(type = "text", id="name-text")
  h4="Ingredients"
  textarea(id="ingredients-text",name="ingredients", cols="30", rows="1", placeholder ="Enter ingredient")
  button(id="add-ingredient", type="button") Add ingredient
  h4="Instructions"
  textarea(id="instructions-text" ,name="", cols="30", rows="1", placeholder = "Enter instruction")
  button(id="add-instruction", type ="button") Add instruction
  button(id="submit",type="submit") Submit

